.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Tests/MagnitudeDBTests/Resources/output/
/Tests/MagnitudeDBTests/Resources/data.sql
